@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --foreground-color: #303030;
  --background-start-rgb: #eaeaea;
  --background-end-rgb: #ffffff;
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground-color: #ffffff;
    --background-start-rgb: #000000;
    --background-end-rgb: #000000;
  }
}

body {
  color: var(--foreground-color);
  background: linear-gradient(
      to bottom,
      transparent,
      var(--background-end-rgb)
    )
    var(--background-start-rgb);
}

h1 {
  font-size:    2em;
  line-height:  1;
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}
