
.navigation {
  --menu-size:  4rem;
  position:     relative;
  display:      block;
  z-index:      10;
  padding:      2rem;
  height:       auto;
}

.menuToggle {
  width:        var(--menu-size);
  height:       var(--menu-size);
  padding:      0 0 0 calc(var(--menu-size)/10);
  box-sizing: border-box;
  margin:       0;
  text-align:   center;
  font-size:    2.5em;
  line-height:  var(--menu-size);
  appearance:   none;
  border:       none;
}

.menuOpen .list {
  max-height: 100vh;
}

.list {
  height:         auto;
  display:        flex;
  flex-direction: column;
  overflow:       hidden;
  transition:     300ms max-height linear;
}

.list_item {
  flex:             1 0 auto;
  text-wrap:        nowrap;
  padding:          1rem;
  font-size:        1.4rem;
  font-weight:      100;
  cursor:           pointer;
  background-color: var(--navigation-item-background);
  color:            var(--navigation-item-text);
}

.list_item:focus,
.list_item:hover {
  background-color: var(--navigation-item-background-hover);
  color:            var(--navigation-item-text-hover);
  outline:          none;
}

.list_item_active {
  background-color: var(--navigation-item-background-focus);
  color:            var(--navigation-item-text-focus);
}

.list_item_link {
  display:          block;
  width:            100%;
  height:           inherit;
}

.navigation h1 {
  display: none;
  font-size: 1em;
  text-transform: uppercase;
  letter-spacing: 0.2em;
  font-weight: 900;
  font-family: serif;
  line-height: 1em;
}
@media screen and (max-width: 1200px) {
  .list {
    max-height: 0;
  }
  .navigation {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    background-color: var(--background-color);
  }

  .navigation h1 {
    display: block;
  }
}
