
.navigation {
  position: relative;
  display:  block;
  z-index:  10;
  padding:  2rem;
}
.list {
  display:        flex;
  flex-direction: column;
}

.list_item {
  flex:             1 0 auto;
  text-wrap:        nowrap;
  padding:          1rem;
  font-size:        1.4rem;
  font-weight:      100;
  cursor:           pointer;
  background-color: var(--navigation-item-background);
  color:            var(--navigation-item-text);
}

.list_item:focus,
.list_item:hover {
  background-color: var(--navigation-item-background-hover);
  color:            var(--navigation-item-text-hover);
  outline:          none;
}

.list_item_active {
  background-color: var(--navigation-item-background-focus);
  color:            var(--navigation-item-text-focus);
}

.list_item_link {
  display:          block;
  width:            100%;
  height:           inherit;
}
