
.logo {
  position:   absolute;
  width:      12vw;
  height:     12vw;
  bottom:     80%;
  right:      30vw;
}


.heading_content {
  flex-direction: column;
  align-items:    flex-start;
  text-align:     right;
  position:       absolute;
  display:        flex;
  right:          0;
  top:            50%;
  transform:      translateY(-50%);
  gap:            1em;

  padding:        10vw;
  z-index:        200;
  mix-blend-mode: color-dodge;
  box-sizing:     border-box;
  color:          var(--header-text);
  word-break:     keep-all;
  word-wrap:      nowrap;

  @media screen and (max-width: 960px) {
    top:          50%;
    right:        50%;
    width:        108vw;
    max-width:    100%;
    transform:    translate(50%, -50%) scale(0.8);
  }
}

.heading_content > div {
  text-align: right;
}
