@keyframes rotate {
  0% { transform: rotate(0deg) scale(4) }
  50% { transform: rotate(-180deg) scale(2) }
  65% { transform: rotate(-380deg) scaleX(3) }
  100% { transform: rotate(-360deg) }
}

.logo {

  width:      12vw;
  height:     12vw;
  animation: rotate 2s ease-in 0s infinite forwards;

  animation: rotate 2s cubic-bezier(.01,.47,.22,1) 0s infinite forwards;
  animation-delay: 0s;
  animation-direction: alternate-reverse;

  position: absolute;
  bottom: 80%;
  right: 30vw;
}


.heading_content {
  flex-direction: column;
  align-items:    flex-start;
  text-align:     right;
  position:       absolute;
  display:        flex;
  right:          0;
  top:            50%;
  transform:      translateY(-50%);
  gap:            1em;

  padding:        10vw;
  z-index:        200;
  mix-blend-mode: color-dodge;
  box-sizing:     border-box;
  color:          var(--header-text);
  word-break:     keep-all;
  word-wrap:      nowrap;

  @media screen and (max-width: 960px) {
    top:          50%;
    right:        50%;
    width:        108vw;
    max-width:    100%;
    transform:    translate(50%, -50%) scale(0.8);
  }
}

.heading_content > div {
  text-align: right;
}
