

.heading_content {
  flex-direction: column;
  align-items:    center;
  position:       absolute;
  display:        flex;
  left:           50%;
  top:            50%;
  transform:      translate(-50%, -50%);
  gap:            1em;

  padding:        10vw;
  z-index:        200;
  box-sizing:     border-box;
  color:          var(--header-text);
  word-break:     keep-all;
  word-wrap:      nowrap;
  text-align:     center;

  @media screen and (max-width: 960px) {
    top:          50%;
    right:        50%;
    width:        108vw;
    max-width:    100%;
    transform:    translate(50%, -50%) scale(0.8);
  }
}
