.logo {
  width:      12em;
  height:     12em;
  /* min-height: 100%; */
}


.heading_content {
  flex-direction: column;
  align-items:    flex-end;
  text-align:     right;
  position:       absolute;
  display:        flex;
  right:          10%;
  width:          48%;
  top:            50%;
  gap:            1em;
  transform:      translateY(-50%) scale(1.2);
  text-shadow:    -1px 1px 9px rgb(0, 0, 0);
  z-index:        200;
  mix-blend-mode: color-dodge;
  color:          var(--header-text);

  @media screen and (max-width: 960px) {
    top:          50%;
    right:        50%;
    width:        108vw;
    max-width:    100%;
    transform:    translate(50%, -50%) scale(0.8);
  }
}
