@tailwind base;
@tailwind components;
@tailwind utilities;


:root {
  --foreground-color: #ffffff;
  --background-color: #131212;

  --navigation-item-text:             var(--foreground-color);
  --navigation-item-text-hover:       var(--foreground-color);
  --navigation-item-text-focus:       #e0e0e0;

  --navigation-item-background:         transparent;
  --navigation-item-background-hover: #191818;
  --navigation-item-background-focus: #292727;
}

/* @media (prefers-color-scheme: dark) {
  :root {
    --foreground-color: #ffffff;
    --background-start-rgb: #000000;
    --background-end-rgb: #000000;
  }
} */

@keyframes smooth-display {
  0% {
    transform: translate(60px, -30px) scale(1.25);
    opacity: 0;
  }
  20% {
    transform: translate(30px, -15px) scale(1.3);
    opacity: 1;
  }
  40% {
    transform: translate(-30px, 15px) scale(1.2);
    opacity: 1;
  }
  60% {
    transform: translate(-60px, 30px) scale(1.1);
    opacity: 0;
  }
  100% {
    transform: translate(60px, 0) scale(1.1);
    opacity: 0;
  }
}


html {
  scroll-behavior: smooth;
}

body {
  color: var(--foreground-color);
  background-color: var(--background-color);
  width: 100vw;
  overflow-x: hidden;
}

.main-content-wrapper {
  width: 100%;
}

.main-content {
}

.banner {
  height: 100vh;
  width: 100vw;
  position: relative;
  z-index: 200;
}

.banner .backdrop {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  height: 100%;
  width: 100%;
  object-fit: cover;
  pointer-events: none;
}

.banner .backdrop + header {
  flex-direction: column;
  align-items:    flex-end;
  text-align:     right;
  position:       absolute;
  display:        flex;
  right:          10%;
  width:          40%;
  top:            30%;
  gap:            1em;
  transform:      translateY(-50%) scale(1.2);
  mix-blend-mode: color-dodge;
  text-shadow:    -1px 1px 9px rgb(0, 0, 0);
}

img {
  user-select: none;
}

@media screen and (max-width: 960px) {

  .banner {
    height:     40vh;
    min-height: 40vh;
  }

  .banner .backdrop + header {
    top: 50%;
    right: 50%;
    width: 108vw;
    transform: translate(50%, -50%) scale(0.8);

    h1 {
      font-size: 1.2em;
    }
  }
}

.slide {
  position: absolute;
  overflow: hidden;
  height: 100%;
  width: 100%;
  /* animation: smooth-display 30s ease 15s infinite; */
}

.slide img {
  opacity: inherit;
  width: 100%;
  height: auto;
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%)
}

.slide:nth-of-type(2) {
  animation-delay:  30s;
}

.slide:nth-of-type(3) {
  animation-delay:  0s;
}

.slides {
  height: 100%;
  width: 100%;
  overflow: hidden;
  position: relative;
}

.background-image {
  width: 100%;
  height: 100%;
  background-size: cover;
  background-position: 0 center;
  position: absolute;
  z-index: -1;
}

h1 {
  font-size:    4em;
  font-weight:  300;
  line-height:  1;
}

p.subheading {
  font-size:    1.4em;
  font-weight:  200;
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}


@keyframes animate-in {
  from { transform: translateY(5vh) }
  to { transform: translateY(0) }
}

.animate-in {
  animation: animate-in 1000ms ease-out 0ms paused 1;
}



.cards {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  gap: 1rem;
}

.cards .card {
  flex: 1 0 30%;
  min-width: 16rem;
  max-width: 100%;
  /* animation: 5000ms animate-in 0ms ease alternate infinite; */
}

.card:nth-child(2) { animation-delay: -2000ms }
.card:nth-child(3) { animation-delay: -4000ms }

.card img {
  height: 240px;
  object-fit: cover
}



form {
  display: block;
  width: 100%;
}

label, .label {
  display: flex;
  margin-bottom: 20px;
  align-items: center;
  flex-wrap: wrap;
}

label h3, .label span {
  flex: 1 0 240px;
  padding: 0 12px 0 0;
  text-align: right;
  font-size: 24px;
  font-weight: 100;
  opacity: 0.7;
}

label input, .label h1, .label button {
  flex: 1 1 800px;
}


input {
  border: 1px solid;
  border-radius: 1.5px;
  background-color: transparent;
  appearance: none;
  box-sizing: border-box;
  height: 60px;
  padding: 16px;
  font-size: 20px;
}

button {
  display: block;
  border-radius: 1.5px;
  background-color: white !important;
  color: black;
  text-transform: uppercase;
  font-weight: 900;
  box-sizing: border-box;
  height: 60px;
  padding: 16px 24px;
  font-size: 16px;
  letter-spacing: 0.2em;
}




@keyframes animate-blur-in {
  from { filter: blur(20px) }
  to { filter: blur(0px) }
}

.animate-blur-in {
  animation: 5s animate-blur-in 500ms ease 1;
}

@keyframes animate-words {
  from { transform: rotateX(0)}
  to { transform: rotateX(360deg)}
}

.scene {
  perspective: 1000px;
  perspective-origin: 50px 50px;
  width: 100px;
  height: 100px;
}
.animated-words{
  position: relative;
  transform-style: preserve-3d;
  display: block;
  width: 100%;
  height: inherit;
  animation: 10s animate-words 0s linear infinite;

}
.animated-words span {
  display: block;
  position: absolute;
  transform: rotateX(0deg) translateZ(50px);
  width: 100%;
  height: 100%;
}





/**
 * Copyright (c) Meta Platforms, Inc. and affiliates.
 *
 * This source code is licensed under the MIT license found in the
 * LICENSE file in the root directory of this source tree.
 *
 */

 .editor-container {
  margin: 0;
  background: #eee;
  font-family: system-ui, -apple-system, BlinkMacSystemFont, '.SFNSText-Regular',
    sans-serif;
  font-weight: 500;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.other h2 {
  font-size: 18px;
  color: #444;
  margin-bottom: 7px;
}

.other a {
  color: #777;
  text-decoration: underline;
  font-size: 14px;
}

.other ul {
  padding: 0;
  margin: 0;
  list-style-type: none;
}

.App {
  font-family: sans-serif;
  text-align: center;
}

h1 {
  font-size: 24px;
  color: #333;
}

.ltr {
  text-align: left;
}

.rtl {
  text-align: right;
}

.editor-container {
  margin: 20px auto 20px auto;
  border-radius: 2px;
  max-width: 600px;
  color: #000;
  position: relative;
  line-height: 20px;
  font-weight: 400;
  text-align: left;
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
}

.editor-inner {
  background: #fff;
  position: relative;
}

.editor-input {
  min-height: 150px;
  resize: none;
  font-size: 15px;
  caret-color: rgb(5, 5, 5);
  position: relative;
  tab-size: 1;
  outline: 0;
  padding: 15px 10px;
  caret-color: #444;
}

.editor-placeholder {
  color: #999;
  overflow: hidden;
  position: absolute;
  text-overflow: ellipsis;
  top: 15px;
  left: 10px;
  font-size: 15px;
  user-select: none;
  display: inline-block;
  pointer-events: none;
}

.editor-text-bold {
  font-weight: bold;
}

.editor-text-italic {
  font-style: italic;
}

.editor-text-underline {
  text-decoration: underline;
}

.editor-text-strikethrough {
  text-decoration: line-through;
}

.editor-text-underlineStrikethrough {
  text-decoration: underline line-through;
}

.editor-text-code {
  background-color: rgb(240, 242, 245);
  padding: 1px 0.25rem;
  font-family: Menlo, Consolas, Monaco, monospace;
  font-size: 94%;
}

.editor-link {
  color: rgb(33, 111, 219);
  text-decoration: none;
}

.tree-view-output {
  display: block;
  background: #222;
  color: #fff;
  padding: 5px;
  font-size: 12px;
  white-space: pre-wrap;
  margin: 1px auto 10px auto;
  max-height: 250px;
  position: relative;
  border-bottom-left-radius: 10px;
  border-bottom-right-radius: 10px;
  overflow: auto;
  line-height: 14px;
}

.editor-code {
  background-color: rgb(240, 242, 245);
  font-family: Menlo, Consolas, Monaco, monospace;
  display: block;
  padding: 8px 8px 8px 52px;
  line-height: 1.53;
  font-size: 13px;
  margin: 0;
  margin-top: 8px;
  margin-bottom: 8px;
  tab-size: 2;
  /* white-space: pre; */
  overflow-x: auto;
  position: relative;
}

.editor-code:before {
  content: attr(data-gutter);
  position: absolute;
  background-color: #eee;
  left: 0;
  top: 0;
  border-right: 1px solid #ccc;
  padding: 8px;
  color: #777;
  white-space: pre-wrap;
  text-align: right;
  min-width: 25px;
}
.editor-code:after {
  content: attr(data-highlight-language);
  top: 0;
  right: 3px;
  padding: 3px;
  font-size: 10px;
  text-transform: uppercase;
  position: absolute;
  color: rgba(0, 0, 0, 0.5);
}

.editor-tokenComment {
  color: slategray;
}

.editor-tokenPunctuation {
  color: #999;
}

.editor-tokenProperty {
  color: #905;
}

.editor-tokenSelector {
  color: #690;
}

.editor-tokenOperator {
  color: #9a6e3a;
}

.editor-tokenAttr {
  color: #07a;
}

.editor-tokenVariable {
  color: #e90;
}

.editor-tokenFunction {
  color: #dd4a68;
}

.editor-paragraph {
  margin: 0;
  margin-bottom: 8px;
  position: relative;
}

.editor-paragraph:last-child {
  margin-bottom: 0;
}

.editor-heading-h1 {
  font-size: 24px;
  color: rgb(5, 5, 5);
  font-weight: 400;
  margin: 0;
  margin-bottom: 12px;
  padding: 0;
}

.editor-heading-h2 {
  font-size: 15px;
  color: rgb(101, 103, 107);
  font-weight: 700;
  margin: 0;
  margin-top: 10px;
  padding: 0;
  text-transform: uppercase;
}

.editor-quote {
  margin: 0;
  margin-left: 20px;
  font-size: 15px;
  color: rgb(101, 103, 107);
  border-left-color: rgb(206, 208, 212);
  border-left-width: 4px;
  border-left-style: solid;
  padding-left: 16px;
}

.editor-list-ol {
  padding: 0;
  margin: 0;
  margin-left: 16px;
}

.editor-list-ul {
  padding: 0;
  margin: 0;
  margin-left: 16px;
}

.editor-listitem {
  margin: 8px 32px 8px 32px;
}

.editor-nested-listitem {
  list-style-type: none;
}

pre::-webkit-scrollbar {
  background: transparent;
  width: 10px;
}

pre::-webkit-scrollbar-thumb {
  background: #999;
}

.debug-timetravel-panel {
  overflow: hidden;
  padding: 0 0 10px 0;
  margin: auto;
  display: flex;
}

.debug-timetravel-panel-slider {
  padding: 0;
  flex: 8;
}

.debug-timetravel-panel-button {
  padding: 0;
  border: 0;
  background: none;
  flex: 1;
  color: #fff;
  font-size: 12px;
}

.debug-timetravel-panel-button:hover {
  text-decoration: underline;
}

.debug-timetravel-button {
  border: 0;
  padding: 0;
  font-size: 12px;
  top: 10px;
  right: 15px;
  position: absolute;
  background: none;
  color: #fff;
}

.debug-timetravel-button:hover {
  text-decoration: underline;
}

.toolbar {
  display: flex;
  margin-bottom: 1px;
  background: #fff;
  padding: 4px;
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
  vertical-align: middle;
}

.toolbar button.toolbar-item {
  border: 0;
  display: flex;
  background: none;
  border-radius: 10px;
  padding: 8px;
  cursor: pointer;
  vertical-align: middle;
}

.toolbar button.toolbar-item:disabled {
  cursor: not-allowed;
}

.toolbar button.toolbar-item.spaced {
  margin-right: 2px;
}

.toolbar button.toolbar-item i.format {
  background-size: contain;
  display: inline-block;
  height: 18px;
  width: 18px;
  margin-top: 2px;
  vertical-align: -0.25em;
  display: flex;
  opacity: 0.6;
}

.toolbar button.toolbar-item:disabled i.format {
  opacity: 0.2;
}

.toolbar button.toolbar-item.active {
  background-color: rgba(223, 232, 250, 0.3);
}

.toolbar button.toolbar-item.active i {
  opacity: 1;
}

.toolbar .toolbar-item:hover:not([disabled]) {
  background-color: #eee;
}

.toolbar .divider {
  width: 1px;
  background-color: #eee;
  margin: 0 4px;
}

.toolbar .toolbar-item .text {
  display: flex;
  line-height: 20px;
  width: 200px;
  vertical-align: middle;
  font-size: 14px;
  color: #777;
  text-overflow: ellipsis;
  width: 70px;
  overflow: hidden;
  height: 20px;
  text-align: left;
}

.toolbar .toolbar-item .icon {
  display: flex;
  user-select: none;
  margin-right: 8px;
  line-height: 16px;
  background-size: contain;
}

.toolbar i {
  font-variation-settings:
    'FILL' 0,
    'wght' 0,
    'GRAD' 0,
    'opsz' 24
}
