@tailwind base;
@tailwind components;
@tailwind utilities;


:root {
  --foreground-color: #ffffff;
  --background-color: #131212;

  --navigation-item-text:             var(--foreground-color);
  --navigation-item-text-hover:       var(--foreground-color);
  --navigation-item-text-focus:       #e0e0e0;

  --navigation-item-background:         transparent;
  --navigation-item-background-hover: #191818;
  --navigation-item-background-focus: #292727;
}

/* @media (prefers-color-scheme: dark) {
  :root {
    --foreground-color: #ffffff;
    --background-start-rgb: #000000;
    --background-end-rgb: #000000;
  }
} */

@keyframes smooth-display {
  0% {
    transform: translate(60px, -30px) scale(1.25);
    opacity: 0;
  }
  20% {
    transform: translate(30px, -15px) scale(1.3);
    opacity: 1;
  }
  40% {
    transform: translate(-30px, 15px) scale(1.2);
    opacity: 1;
  }
  60% {
    transform: translate(-60px, 30px) scale(1.1);
    opacity: 0;
  }
  100% {
    transform: translate(60px, 0) scale(1.1);
    opacity: 0;
  }
}


html {
  scroll-behavior: smooth;
}

body {
  color: var(--foreground-color);
  background-color: var(--background-color);
  width: 100vw;
  overflow-x: hidden;
}

.main-content-wrapper {
  width: 100%;
}

.main-content {
}

.banner {
  height: 100vh;
  width: 100vw;
  position: relative;
  z-index: 200;
}

.banner .backdrop {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  height: 100%;
  width: 100%;
  object-fit: cover;
  pointer-events: none;
}

.banner .backdrop + header {
  flex-direction: column;
  align-items:    flex-end;
  text-align:     right;
  position:       absolute;
  display:        flex;
  right:          10%;
  width:          40%;
  top:            30%;
  gap:            1em;
  transform:      translateY(-50%) scale(1.2);
  mix-blend-mode: color-dodge;
  text-shadow:    -1px 1px 9px rgb(0, 0, 0);
}

img {
  user-select: none;
}

@media screen and (max-width: 960px) {

  .banner {
    height:     40vh;
    min-height: 40vh;
  }

  .banner .backdrop + header {
    top: 50%;
    right: 50%;
    width: 108vw;
    transform: translate(50%, -50%) scale(0.8);

    h1 {
      font-size: 1.2em;
    }
  }
}

.slide {
  position: absolute;
  overflow: hidden;
  height: 100%;
  width: 100%;
  /* animation: smooth-display 30s ease 15s infinite; */
}

.slide img {
  opacity: inherit;
  width: 100%;
  height: auto;
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%)
}

.slide:nth-of-type(2) {
  animation-delay:  30s;
}

.slide:nth-of-type(3) {
  animation-delay:  0s;
}

.slides {
  height: 100%;
  width: 100%;
  overflow: hidden;
  position: relative;
}

.background-image {
  width: 100%;
  height: 100%;
  background-size: cover;
  background-position: 0 center;
  position: absolute;
  z-index: -1;
}

h1 {
  font-size:    4em;
  font-weight:  300;
  line-height:  1;
}

p.subheading {
  font-size:    1.4em;
  font-weight:  200;
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}


@keyframes animate-in {
  from { transform: translateY(5vh) }
  to { transform: translateY(0) }
}

.animate-in {
  animation: animate-in 1000ms ease-out 0ms paused 1;
}



.cards {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  gap: 1rem;
}

.cards .card {
  flex: 1 0 30%;
  min-width: 16rem;
  max-width: 100%;
  /* animation: 5000ms animate-in 0ms ease alternate infinite; */
}

.card:nth-child(2) { animation-delay: -2000ms }
.card:nth-child(3) { animation-delay: -4000ms }

.card img {
  height: 240px;
  object-fit: cover
}



form {
  display: block;
  width: 100%;
}

label, .label {
  display: flex;
  margin-bottom: 20px;
  align-items: center;
  flex-wrap: wrap;
}

label h3, .label span {
  flex: 1 0 240px;
  padding: 0 12px 0 0;
  text-align: right;
  font-size: 24px;
  font-weight: 100;
  opacity: 0.7;
}

label input, .label h1, .label button {
  flex: 1 1 800px;
}


input {
  border: 1px solid;
  border-radius: 1.5px;
  background-color: transparent;
  appearance: none;
  box-sizing: border-box;
  height: 60px;
  padding: 16px;
  font-size: 20px;
}

button {
  display: block;
  border-radius: 1.5px;
  background-color: white !important;
  color: black;
  text-transform: uppercase;
  font-weight: 900;
  box-sizing: border-box;
  height: 60px;
  padding: 16px 24px;
  font-size: 16px;
  letter-spacing: 0.2em;
}




@keyframes animate-blur-in {
  from { filter: blur(20px) }
  to { filter: blur(0px) }
}

.animate-blur-in {
  animation: 5s animate-blur-in 500ms ease 1;
}

@keyframes animate-words {
  from { transform: rotateX(0)}
  to { transform: rotateX(360deg)}
}

.scene {
  perspective: 1000px;
  perspective-origin: 50px 50px;
  width: 100px;
  height: 100px;
}
.animated-words{
  position: relative;
  transform-style: preserve-3d;
  display: block;
  width: 100%;
  height: inherit;
  animation: 10s animate-words 0s linear infinite;

}
.animated-words span {
  display: block;
  position: absolute;
  transform: rotateX(0deg) translateZ(50px);
  width: 100%;
  height: 100%;
}
