
.segment {
  display:          flex;
  align-items:      stretch;
  justify-content:  stretch;
  flex-wrap:        wrap;
  position: relative;
  box-sizing: border-box;

  @include sm {
    flex-flow: row-reverse wrap;
  }
}

.segment-light {
  background-color: rgba(255,255,255,0.05)
}
.segment-dark{
  background-color: rgba(0, 0, 0, 0.05)
}

.segment-break {
  flex:     1 0 100%;
  width:    100%;
  height:   0;
  margin:   0;
  padding:  0;
  border:   none;
}

.segment-column {
  flex:                       1 1;
  position:                   relative;
  text-align:                 right;
  align-content:              center;
  box-sizing:                 border-box;
  transform:                  translateY(4em) scale(1);
  opacity:                    0;
  transition-duration:        2s;
  transition-property:        transform, opacity;
  transition-timing-function: cubic-bezier(.17,.84,.44,1);

  .active .segment & {
    transition-duration: 4s;
    transition-delay:    800ms;
    transform:           translateY(0);
    opacity:             1;
  }

  // Column content alignment
  &.align-left   { text-align: left }
  &.align-right  { text-align: right }
  &.align-center { text-align: center }

  // Column widths
  @for $i from 1 through 12 {
    &.column-#{$i} {
      flex-grow: #{$i};
    }
  }

  @media screen and (max-width: $breakpoint-md) {
    flex-flow: column wrap
  }
}

.padding {
  box-sizing: border-box;
  padding:    15vw;

  @include md {
    padding: 8vw;
  }
}


.segment-column {
  max-width:        100%;
}


.artist-section {
  align-items: center;
  justify-content: center;
}

.profile-image {
  flex: 0 0 auto !important;
  width: 12em;
  min-width: 25vw !important;
  align-content: center;
  // transform: rotate(30deg) !important;

  img {
  // animation: 2s rotate 0s linear alternate-reverse infinite;
  }
}

/* style={{ flex: '1 1 auto', alignContent: 'center', textAlign: 'right' }} */
